<div>
    <h2>Do You Create New Slider?</h2>
    <a asp-controller="slider" asp-action="create" style="background-color:teal; color:white; border:none; font-size:20px; margin-top:5px; text-decoration:none; padding:3px 8px">Create</a>
    <div style="padding-top:25px">
        <table class="table">
            <thead class="table-dark">
            <th>
                <td>Id</td>
                <td>Image</td>
                <td>Discount</td>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
            </th>
            </thead>
            <tbody>
               <tr>
                  <td>Id</td>
                  <td>Image</td>
                  <td>Discount</td>
                  <td>Name</td>
                  <td>Description</td>
                  <td>Price</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

