<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
          integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/client/public/css/global.css">
    <link href="~/client/public/slidercss/slider.css" rel="stylesheet" />
    <title>Furnish - Home</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <a href="./index.html" class="logo poppins-bold">
                <span>FURNISH</span>
                <span>TEMPLATE</span>
            </a>
            <nav class="nav-links poppins-medium">
                <a href="./index.html">HOME</a>
                <a href="./pages/about.html">ABOUT US</a>
                <a href="./pages/products.html">PRODUCTS</a>
                <a href="./pages/testimonials.html">TESTIMONIALS</a>
                <a href="./pages/contact.html">CONTACT</a>
                <a asp-area="adminpanel" asp-controller="dashboard" asp-action="index">ADMIN PANEL</a>
            </nav>
            <div class="h-right">
                <a href="tel:+901234576" class="h-tel">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-telephone" viewBox="0 0 16 16">
                        <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.6 17.6 0 0 0 4.168 6.608 17.6 17.6 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.68.68 0 0 0-.58-.122l-2.19.547a1.75 1.75 0 0 1-1.657-.459L5.482 8.062a1.75 1.75 0 0 1-.46-1.657l.548-2.19a.68.68 0 0 0-.122-.58zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z">
                        </path>
                    </svg>
                    <span class="poppins-bold">+901234576</span>
                </a>
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
        @RenderBody()
        <footer class="footer">
            <div class="footer-inner">
                <div class="footer-top">
                    <a href="./index.html" class="footer-logo poppins-bold">
                        <span>FURNISH</span>
                        <span>TEMPLATE</span>
                    </a>
                    <nav class="footer-nav">
                        <a href="./index.html">Home</a>
                        <a href="./pages/services.html">Services</a>
                        <a href="./pages/products.html">Products</a>
                        <a href="./pages/about.html">About Us</a>
                        <a href="./pages/contact.html">Contact</a>
                    </nav>
                </div>

                <div class="footer-main">
                    <div class="footer-left">
                        <h2>We Design all over<br>the world</h2>
                        <div class="footer-email">
                            <span>Email Id</span>
                            <a href="mailto:Info@example.com">Info@example.com</a>
                        </div>
                    </div>

                    <div class="footer-right">
                        <div class="social-links">
                            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                            <a href="#"><i class="fa-brands fa-twitter"></i></a>
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                        </div>
                        <a href="./pages/contact.html" class="contact-btn">Contact us</a>
                    </div>
                </div>

                <div class="footer-bottom">
                    <p>
                        © 2025 Furnish. Developed by <a href="#">CodesCandy</a> • Distributed by <a href="#">ThemeWagon.</a><br>
                        All rights reserved.
                    </p>
                    <div>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Terms of Service</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/client/public/js/app.js"></script>
</body>
