@using Furnish.Models
@using Furnish.ViewModels
@model HomeVM

<section id="slider">
    <div class="swiper mainSwiper">
        <div class="swiper-wrapper">
            @foreach(Slider sliders in Model.Sliders)
            {
                <div class="swiper-slide">
                    <div class="discountprice">
                        <h2>%@sliders.Discount Sell</h2>
                        <h3>@sliders.Name</h3>
                    </div>
                    <img src="@sliders.Image" alt="">
                    <div class="slidecontent">
                        <p>@sliders.Description</p>
                        <p>$@sliders.Price</p>
                        <button>View Details</button>
                    </div>
                </div>
            }
        </div>
        <div class="swiper-button-next main-next"></div>
        <div class="swiper-button-prev main-prev"></div>
    </div>
</section>


<section class="collection-section">
    <div class="section-inner">
        <div class="collection-title">
            <h2>Our Favourite Collection</h2>
            <p>
                We are inspired by the realities of life today, in which traditional divides between personal and
                professional space are more fluid.
            </p>
        </div>

        <div class="products-row">
            @foreach(Product product in Model.Products)
            {
                <div class="product-card">
                    <div class="product-img-box">
                        <img src="~/client/public/images/collection-chair.png" alt="Modern Chair">
                    </div>
                    <h3>@product.Name</h3>
                    <p><del>$59.00</del> $@product.Price</p>
                </div>
            }
        </div>

        <div class="slider-dots">
            <span class="active-dot"></span>
            <span></span>
            <span></span>
        </div>
    </div>
</section>

<section class="testimonial-section">
    <div class="testimonial-bg">
        <div class="testimonial-card">
            <p class="poppins-regular-italic">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. cupidatat non proident, sunt in
                culpa qui officia deserunt mollit anim id est laborum."
            </p>
            <h3>John Deo</h3>
            <span>CEO, Company Name</span>
        </div>
    </div>

    <div class="newsletter">
        <h2>Subscribe to our Newsletter</h2>
        <form action="#">
            <input type="email" placeholder="Enter your email">
            <button type="submit">Subscribe</button>
        </form>
    </div>
</section>
